* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html,body{
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

p {
    text-indent: 2em;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    margin-left: 30px;
    text-align: center;
}

th, td {
    padding: 5px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.formula{
    color: aqua;
}

.ul-1 {
    margin-left: 20px;
}

.ul-2 {
    margin-left: 2em;
}
.ul-3 {
    margin-left: 4em;
}

.ul-1-num {
    margin-left: 20px;
    list-style: decimal;
}

.ul-2-num {
    margin-left: 2em;
    list-style: decimal;
}

.ul-3-num {
    margin-left: 4em;
    list-style: decimal;
}

.code{
    background-color: #5d5443;
    color: #e7e9f1;
    font-size: 24px;
    border-radius: 28px;
}

/**************** 连接 ***************/
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #d7d7d7;
    border-bottom: 1px solid #cacaca;
}

.header .ul_1 {
    text-align: right;
    margin-right: 5%;
    height: calc(100% - 15px);
    padding-top: 15px;
}

.header .ul_1 .li_1 {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    background: darkgrey;
    margin: 0 5px;
    padding: 0 15px;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.header .ul_1 .li_heightLight {
    background: #43d4cd;
    box-shadow: 0 0 3px #206e9c;
}

.header .ul_1 .li_1:hover .ul_2{
    display: block;
}

.header .ul_1 :after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.header .ul_1 .li_1 .ul_2 {
    position: absolute;
    display: none;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    left: 0;
    background: #a9a9a9;
}


/*************内容*****************/
.content {
    height: calc(100% - 60px);
    padding-top: 60px;
    overflow: hidden;
    background-color: #f0f0f0;
}

.l-r-wrapper {
    height: 100%;
}

.left {
    height: 100%;
    width: 15%;
    float: left;
    overflow-y: scroll;
}

.left::-webkit-scrollbar {
    width: 4px;
}

.left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);

}

.right {
    background-color: #fff;
    overflow: auto;
    height: 100%;
}

.right::-webkit-scrollbar {
    width: 0;
}

.divLeft{
    float: left;
    margin: 20px 20px 20px 0;
}
.section1 {
    border: 1px solid burlywood;
    border-radius: 10px;
    margin: 15px;
    background-color: #f0f0f0;
}

.section1 .title {
    text-align: center;
    font-size: 26px;
    border-bottom: 1px dashed burlywood;
    padding: 5px 0;
}

section {
    clear: both;
}

section .content {
    margin-left: 2em;
    padding: 0;
}

.bg-1 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.clear{
    clear: both;
}
